<ion-view view-title="Login" name="login-view" class="padding" style="background: url(../img/news.jpg); background-size: cover ">
  <ion-content [ngStyle]="{'background-image': 'url('../../img/iss.jpg')'}">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Admin" ng-model="data.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Admin" ng-model="data.password">
      </label>
    </div>
    <button class="button button-block button-positive" ng-click="login()">Login</button>
    <a class="button button-block button-positive" href="#/register">register</a>


  </ion-content>

</ion-view>
