<ion-view view-title="Login" name="login-view" class="padding" style="background: url(../img/spacew.jpg); background-size: cover ">
  <ion-content class="background" scroll="false">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Admin" ng-model="data.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Admin" ng-model="data.password">
      </label>
    </div>
    <button class="button button-block button-positive" ng-click="login()">Login</button>
    <a class="button button-block button-positive" href="#/register">register</a>




  </ion-content>

</ion-view>
